body{
    font-family: 'Poppins', sans-serif;
}

body a{
    text-decoration: none;
}

.background{
    background-image: url("../assets/background.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    margin-top: 20px;
}

.home{
    background-image: url("../assets/background.png");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.login h2{
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.login-box{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #6B6FB6;
}

.login-box h3{
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    font-size: 19px;
    margin-bottom: 10px;
    color: #fff;
}

input{
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
}

button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #27005D;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.info{
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.info a{
    padding: 10px 15px;
    background-color: #27005D;
    align-items: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

#panduan{
    display: none;
    position: absolute;
    bottom: 80px;
    right: 90px;
    padding: 20px;
    background-color: #27005D;
    border-radius: 10px;
}

.panduan h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.panduan .pdf{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
}

.panduan .pdf a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

.panduan .pdf i{
    color: #000;
    font-size: 18px;
}

/* navbar */
.navbar{
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.526);
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 50px;
}

.nav-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-top .title{
    font-weight: 500;
    margin-bottom: 0;
}

.btn-nav{
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* navbar */

/* footer */
.footer{
    width: 100%;
    padding: 10px;
    background-color: #6B6FB6;
    color: #fff;
    margin-top: 30px;
}

.footer p {
    font-size: 25px;
    font-weight: 600;
    padding-top: 17px;
}
/* footer */

/* home pages */
.daftar-box{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1010px;
    padding: 30px;
    background-color: #6b6fb6aa;
    color: #fff;
    border-radius: 10px;
}

.check-box{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1010px;
    padding: 30px;
    background-color: #6b6fb6aa;
    color: #fff;
    border-radius: 10px;
}

.check-box img{
    width: 450px;
}

.footer-proposal{
    width: 450px;
    padding: 20px;
    background-color: #6B6FB6;
    margin-bottom: 30px;
}

.footer-proposal p{
    margin: 0;
}

.footer-proposal span p{
    margin: 0;
}

.footer-proposal span a{
    cursor: pointer;
}

.footer-proposal i{
    font-size: 20px;
}

.daftar-box h3{
    font-size: 25px;
    margin-bottom: 180px;
}

.title{
    color: #27005D;
    font-weight: 600;
}

.member{
    margin-left: 10px;
    font-weight: 600;
}

.daftar-box h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 180px;
}

.review-btn{
    padding: 8px 20px;
    background-color: #27005D;
    border-radius: 10px;
    color: #fff;
}

.review-btn:hover{
    color: #fff;
}

.daftar-box .proposal-btn,
.form-box .proposal-btn,
.check-box .proposal-btn {
    text-align: end;
}

.daftar-box .proposal-btn a,
.form-box .proposal-btn a,
.check-box .proposal-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    background-color: #27005D;
    border-radius: 10px;
}

/* home pages */

/* form pages */
.form-title{
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 40px;
}

.form-box{
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 1010px;
    padding: 40px;
    background-color: #6b6fb6;
    color: #fff;
    border-radius: 10px;
}

.form-box form{
    margin-bottom: 40px;
}

.form-box h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 45px;
}
/* form pages */

/* anggota pages */
.member-box{
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 40px;
    background-color: #6b6fb6;
    color: #fff;
    border-radius: 10px;
}

.member-box h3{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}

.member-box .member-btn{
    margin-bottom: 20px;
}

.member-box .member-btn a{
    color: #000;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.member-box .member-btn a:focus{
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #27005D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.next-btn a{
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    background-color: #61AC3E;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.close-btn a{
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    background-color: #A11414;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.daftar-box img{
    width: 350px;
    margin: auto;
}

.daftar-box p{
    font-size: 30px;
    margin-top: 30px;
}


/* anggota pages */

/* david */
.switch {
    display: flex;
    background-color: #fff;
    color: #232323;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.switch:hover{
    background-color: #27005D;
    color: #fff;
}

.switch.active{
    background-color: #27005D;
    color: #fff;
}